@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@900&display=swap');

/* ROOT */
:root {
  --color-black: #171717;
  --color-orange: #F53E26;
  --color-hero-bg: #EBDCBB;
  --color-bg: #F2F0ED;
}

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

h1, h2, small {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #171717;
}
small {
  font-size: .9rem;
}
p {
  font-family: 'Merriweather', serif;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 2em;
}

a {
  text-decoration: none;
  color: var(--color-orange);
}
a:hover {
  color: var(--color-black);
}

img {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.container {
  width: 70%;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

@media (max-width: 991.98px) { 
  .container {
    width: 100%;
    padding: 0 1rem;
  }
  .container h1 {
    font-size: 6rem;
  }
}